{%- extends 'layout.html' -%}
{%- block content -%}

{%- for post in posts -%}

	<div class="post">
		<div class="post-subject">
			{{post.subject}}
		</div>
		<div class="post-created">
			<a href="/{{post.key().id()}}" title="Permalink">
				<img class="icon" src="/static/img/link.svg" alt="permalink">
			</a>
			{%- if user.name == post.user.name -%}
				<a href="/edit-post/{{post.key().id()}}" title="Edit">
					<img class="icon" src="/static/img/edit.svg">
				</a>
				<a href="/delete-post/{{post.key().id()}}" title="Delete">
					<img class="icon" src="/static/img/delete.svg">
				</a>
			{%- else -%}
				<form class="upvote" method="post">
					<input type="hidden" name="post_id" value="{{post.key().id()}}">
					<input type="hidden" name="vote" value="1">
					<input type="submit" value="">
				</form>
				<form class="downvote" method="post">
					<input type="hidden" name="post_id" value="{{post.key().id()}}">
					<input type="hidden" name="vote" value="-1">
					<input type="submit" value="">
				</form>
			{%- endif -%}
			{{post.last_edited.strftime('%d/%m/%Y %H:%M')}} by {{post.user.name}} | votes {{post.sumVotes()}}
			<div class="link-comments">
				{%- if post.comments.count() > 0 -%}
					<a href="/{{post.key().id()}}">See {{post.comments.count()}}
					{%- if post.comments.count() == 1 -%}
						&nbsp;comment</a>
					{%- else -%}
						&nbsp;comments</a>
					{%- endif -%}
				{%- endif -%}
			</div>
		</div>
		<div class="post-content">
			{{post.text() | safe}}
		</div>
	</div>

{%- endfor -%}

{%- endblock -%}
