{%- extends 'layout.html' -%}
{%- block content -%}

	<div class="wrapper">

		<form method="post">
			
			<h2>Log In or <a href="/signup">Sign Up</a></h2>

			<label for="username">Username</label>
			<input type="text" name="username" value="{{ name }}" autofocus>
			{%- if error -%}
				<div class="error">{{ error['name'] }}</div>
			{%- endif -%}
			<label for="password">Password</label>
			<input type="password" name="password" value="">
			{%- if error -%}
				<div class="error">{{ error['password'] }}</div>
			{%- endif -%}
			<input type="submit" value="Send">

		</form>

	</div>

{%- endblock -%}
