{%- extends 'layout.html' -%}
{%- block content -%}

<div class="post">
	<div class="post-subject">
		{{ post.subject }}
		{%- if user_id == post.user_id -%}
			<a href="/">
				<img class="icon" src="static/img/edit.svg">
			</a>
			<a href="/">
				<img class="icon" src="static/img/delete.svg">
			</a>
		{%- endif -%}
	</div>
	<div class="post-created">
		{{ post.created.strftime('%d/%m/%Y %H:%M') }}
	</div>
	<div class="post-content">
		{{ post.text() | safe }}
	</div>
</div>

{%- endblock -%}